.store {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.nav {
    padding: 0rem 0 1rem 0;
    display: flex;
    gap: 2rem;
    align-items: center;
    list-style: none;
}

.search__bar {
    padding: 0.6rem 1rem;
    border-radius: 20px;
    border-width: 0px;
    color: white;
}

.link {
    color: rgb(255, 255, 255);
    opacity: 0.8;
    text-decoration: none;
    transition: all 0.3s;
}
.link:hover {
    opacity: 1;
}

.store_main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.hero_games {
    display: grid;
    grid-template-columns: 80% 1fr;
    column-gap: 0.5rem;
    grid-template-rows: repeat(6, 1fr);
    /* max-height: 500px; */
    /* height: 500px; */
}

.main_game {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    
    
    grid-row: span 6;

    .image_shadow {
        box-shadow: inset 120px 0 200px 20px rgba(0, 0, 0, 0.6);
        position: absolute;
        left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        z-index: 5;
    }
    img {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }
    
    .options {
        position: absolute;
        z-index: 5;
        display: flex;
        flex-direction: column;
        left: 2rem;
        right: 0;
        bottom: 2rem;
        gap: 10px;
        
        h3 {
            font-weight: 700;
            font-size: 1.5rem;
        }

        .price {
            font-weight: 700;
            span {
                font-weight: 400;
            }
        }

        div {
            display: flex;
            gap: 1rem;
            /* background-color: red; */
        }
    }
}
.button {
    background-color: white;
    color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    width: clamp(100px, 150px, 100%);
    border-radius: 5px;
    outline: none;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.5rem;
    letter-spacing: 2px;
}
.button.button--white {
    color: #141414;
    background-color: white;
}
.button.button--transparent {
    color: white;
    background-color: transparent;
}

.side_games {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 3px;
}
.card_hero {
    padding: 5px 10px;
    display: flex;
    place-content: center;
    gap: 5px;
    border-radius: 20px;
    align-items: center;
    transition: background-color 0.3s;


    img {
        border-radius: 10px;
        object-fit: cover;
        aspect-ratio: 9/12;
        width: 25%;
    }

    div {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
    h3 {
        font-weight: 500;
        font-size: small;
    }
    span {
        font-size: smaller;
        font-weight: 500;
    }

    &:hover {
        background-color: #444444;
    }
}



/* LIST OF GAMES HORIZONTAL */

.list_of_games_horizontal {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
        /* svg {
            display: flex;
            align-items: center;
            justify-content: center;
        } */
        div {
            display: flex;
            gap: 0.8rem;
        }
    }
}
.button_circular {
    padding: 8px;
    border-radius: 50%;
    border: none;
    background-color: #303030;
    font-size: 12px;
    width: 35px;
    height: 35px;
}
.center_icon {
    display: grid;
    font-size: 12px;
    padding-top: 5px;
}

.card_container {
    display: flex;
    align-items: center;
    gap: 14px;

    div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        img {
            width: 100%;
            aspect-ratio: 9/13;
            object-fit: cover;
            border-radius: 10px;
        }
        h3 {
            font-size: 1rem;
            font-weight: 600;
        }
        span {
            font-weight: 600;
        }
    }
}

.list_of_games_vertical {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;

}
.vertical_list {
    display: grid;
    row-gap: 10px;
}
.vertical_list--double {
    grid-template-columns: 1fr 1fr;
    grid-column: span 2;
}
.list_title {
    display: flex;
    gap: 8px;
    align-items: center;
    h2 {
        font-weight: 500;
        font-size: 1.2rem;
    }
}
.list_title--double {
    grid-column: span 2;
}