.container {
  display: flex;
  flex-direction: column;
  gap: 50px;

  header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }
}

.library {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  a {
    max-width: 230px;
  }
}