.nav {
  display: flex;
  gap: 2rem;
  align-items: center;
  list-style: none;
  position: sticky;
  top: var(--store-header-height);
  z-index: 20;
  max-height: 80px;
  padding: 15px 0;
  background-color: #141414;

  a {
  color: rgb(255, 255, 255);
  opacity: 0.8;
  text-decoration: none;
  transition: all 0.3s;

  &.active {
    opacity: 1;
    pointer-events: none;
  }

  &:hover {
    opacity: 1;
  }
  }
}

.search__bar {
  padding: 0.6rem 1rem;
  border-radius: 20px;
  border-width: 0px;
  color: white;
}
