.nav {
  display: flex;
  gap: 10px;
  align-items: center;
  list-style: none;
  position: sticky;
  top: var(--main-nav-height);
  z-index: 20;
  height: var(--store-nav-height);
  padding: 15px 0;
  background-color: var(--background-color);;

  a {
  color: rgb(255, 255, 255);
  opacity: 0.8;
  text-decoration: none;
  transition: all 0.3s;

  &.active {
    opacity: 1;
    pointer-events: none;
  }

  &:hover {
    opacity: 1;
  }
  }
}

.search__container {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;

  input {
    min-width: 130px;
  }

  svg {
    display: none;
    font-size: 20px;
    &.active {
      display: block;
    }
  }

  p {
    font-weight: bold;
  }

  a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  h3 {
    font-size: 1.1rem;
    font-weight: normal;
  }

  section {
    display: none;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    z-index: 1;
    top: 130%;
    left: 0;
    width: clamp(150px, 180%, 200%);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(8px);
    background-color: var(--background-secondary);
    /* background-color: red; */

    &.open {
      display: flex
    }
    img {
      max-width: 50px;
      aspect-ratio: 9 / 13;
      object-fit: cover;
      border-radius: 5px;
    }
  }
}
.search__bar {
  padding: 0.6rem 1rem;
  border-radius: 20px;
  border-width: 0px;
  color: white;
}

@media (max-width: 450px) {
  .nav {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
  }
  .search__container {
    width: 100%;
    input {
      flex: 1;
      min-width: 0;
    }
    section {
      width: 90vw;
    }
    
  }
}

