.container {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;

  h2 {
    font-size: 2rem;
    font-weight: normal;
    span {
      color: var(--color-paragraph);
    }
  }

  /* Card container */
  > section {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}


@media (max-width: 767px) {
  .card__body {
    p {
      max-width: 100%;
    }
  }
}

