.card_container {
  display: grid;
  grid-template-columns: repeat(6, minmax(180px, 1fr));
  column-gap: 20px;
  grid-auto-flow: column;
  grid-auto-columns: minmax(180px, 1fr);
  overflow-x: scroll;
  scroll-behavior: smooth;

  
  &::-webkit-scrollbar {
    display: none;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    img {
      min-width: 100%;
      aspect-ratio: 9/13;
      object-fit: cover;
      border-radius: 10px;
    }
    h3 {
      font-size: 1rem;
      font-weight: 600;
    }
    span {
      font-weight: 600;
    }
    p {
      color: #9e9e9e;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}

.catalogue {
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  column-gap: 20px;
  row-gap: 30px;
  grid-auto-flow: row;
  grid-auto-columns: auto;
  overflow-x: auto;
  scroll-behavior: auto;

  
  div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    img {
      min-width: 100%;
      aspect-ratio: 11/13;
      object-fit: cover;
      border-radius: 6px;
    }
    h3 {
      font-size: 1rem;
      font-weight: 400;
      align-self: flex-start;
    }
    span {
      align-self: flex-start;
    }
  }
}

@media (max-width: 767px) {
  .card_container {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-auto-columns: minmax(100px, 1fr);
    row-gap: 20px;
  }
  .card_container--three {
    grid-template-columns: repeat(2, 1fr);

    div {
      img {
        aspect-ratio: 16 / 9;
      }
    }
  }
  /* .card_hero {
    grid-column: span 2;
  } */
}
@media (max-width: 450px) {
 .catalogue {
  grid-template-columns: 1fr;
 } 
}