.catalogue {
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  column-gap: 20px;
  row-gap: 30px;
  grid-auto-flow: row;
  grid-auto-columns: auto;
  overflow-x: auto;
  scroll-behavior: auto;

  
  div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    img {
      min-width: 100%;
      aspect-ratio: 11/13;
      object-fit: cover;
      border-radius: 6px;
    }
    h3 {
      font-size: 1rem;
      font-weight: 400;
      align-self: flex-start;
    }
    span {
      align-self: flex-start;
    }
  }
}

@media (max-width: 450px) {
 .catalogue {
  grid-template-columns: 1fr;
 } 
}