

.container {
  display: flex;
  flex-direction: column;  
  gap: 20px;

  h1 {
  font-size: x-large;
  font-weight: 400;
  }

  ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
    li {
      cursor: pointer;
      color: #9e9e9e;
      font-size: large;
      font-weight: 500;
      padding-bottom: 4px;
      transition: border-color 0.2s ease-in-out;
      border-bottom: 2px solid transparent;
      &:hover {
        border-bottom: 2px solid #9e9e9e;
      }
      &.active {
        color: white;
        border-bottom: 2px solid white;
      }
    }
  }
}

.game__details {
  display: flex;
  gap: 20px;
  position: relative;

  main {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    flex: 2.5;
    gap: 30px;

    &>div {
      >p {
      font-size: large;
      color: #9e9e9e;
      font-size: 0.9rem;
      }
      
    }
  }

  aside {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid blue;
    flex: 1;
    img {
      width: 100%;
    }
    span {
      align-self: flex-start;
      font-size: 0.9rem;
    }
  }
}

.gallery__container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .main__image {
    aspect-ratio: 16/9;
    img {
      width: 100%;
    }
  
  }

  .gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      display: flex;
      gap: 10px;
    }
    img {
      max-width: 100px;
      border-radius: 5px;
      aspect-ratio: 16/9;
      opacity: 0.6;
      &.active {
        border: 1px solid white;
        opacity: 1;
      }
    }
    button {
      padding: 8px;
      border-radius: 50%;
      border: none;
      background-color: #202020;
      font-size: 12px;
      width: 35px;
      height: 35px;
    }
  }
}
.game__extras {
  display: flex;
  flex-wrap: wrap;

  > div {
    flex: 1;
    padding-left: 14px;
  }
}
.genre__tags {
  border-left: 1px solid #747474;
  display: flex;
  flex-direction: column;
  gap: 5px;
  span {
    color: #9e9e9e;
  }
  a {
    color: white;
  }
}

@media (max-width: 767px) {
.game__details {
      flex-wrap: wrap-reverse;

  }
}
