.horizontal__scroll {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    h2,
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      font-weight: 400;
      font-size: 1.3rem;
      color: white;
      text-decoration: none;

      &:hover {
        span {
          margin-left: 5px;
        }
      }
    }
    /* svg {
            display: flex;
            align-items: center;
            justify-content: center;
        } */
    div {
      display: flex;
      gap: 0.8rem;
    }
  }
}

@media (max-width: 450px) {
  .horizontal__scroll {
    header {
      flex-direction: column;
      justify-content: start;
    }
  }
}
