
.filter__item {
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  h6 {
    font-weight: 400;
    font-size: 1rem;
    color: gray;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    
    cursor: pointer;
    svg {
      transition: 0.2s all ease-in-out;
    }

    &:hover {
      color: white;
    }
  }
  ul {
    display: none;
    
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  li {
    color: gray;
    cursor: pointer;
    &:hover {
      color: white;
    }
    
  }


  &.open {
    ul {
      display: flex;
    }
  }
}