.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;

  h1 {
    font-size: x-large;
    font-weight: 400;
  }

  nav {
    position: sticky;
    top: 60px;
    z-index: 15;
    background-color: #141414;
    padding: 10px 0 10px;
  }

  ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
    li {
      cursor: pointer;
      color: var(--color-paragraph);
      font-size: large;
      font-weight: 500;
      padding-bottom: 4px;
      transition: border-color 0.2s ease-in-out;
      border-bottom: 2px solid transparent;
      &:hover {
        border-bottom: 2px solid var(--color-paragraph);
      }
      &.active {
        color: white;
        border-bottom: 2px solid white;
      }
    }
  }
}

.game__details {
  display: flex;
  gap: 20px;
  position: relative;
  align-items: start;
  article {
    display: flex;
    flex-direction: column;
    flex: 2.5;
    gap: 30px;
  }

  aside {
    position: sticky;
    top: 120px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    flex: 1;
    img {
      width: 100%;
      border-radius: 12px;
    }
    span {
      align-self: flex-start;
      font-size: 0.9rem;
    }
    div {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 10px;
      padding: 8px 0;
      border-bottom: 1px solid #6e6e6e6b;
      span:first-child {
        color: var(--color-paragraph);
        font-size: 0.9rem;
      }
    }
  }
}

/* .gallery__container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .main__image {
    aspect-ratio: 16/9;
    img {
      width: 100%;
    }
  }

  .gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > div {
      display: flex;
      gap: 10px;
      justify-content: center;
    }
    img {
      width: 100%;
      max-width: 100px;
      border-radius: 5px;
      aspect-ratio: 16/9;
      opacity: 0.6;
    }
    .active {
      border: 1px solid white;
      opacity: 1;
    }
    .video_wrapper {
      position: relative;
      width: 100%;
      border-radius: 5px;
      svg {
        position: absolute;
        left: 0;
        top: 30%;
        right: 0;
        bottom: 0;
        width: 100%;
      }
    }
    button {
      padding: 8px;
      border-radius: 50%;
      border: none;
      background-color: #202020;
      font-size: 12px;
      width: 35px;
      height: 35px;
    }
  }
} */
.game__extras {
  display: flex;
  flex-wrap: wrap;

  > div {
    flex: 1;
    padding-left: 14px;
    border-left: 1px solid #747474;
  }
}
.game__description {
  p {
    color: var(--color-paragraph);
    font-size: 0.9rem;
  }
}
.genre__tags {
  display: flex;
  flex-direction: column;
  gap: 5px;
  span {
    color: var(--color-paragraph);
  }
  a {
    color: white;
  }
}

.achievements__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  h5 {
    margin-bottom: 14px;
    font-size: large;
    font-weight: 500;
  }
  > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
    column-gap: 40px;
    row-gap: 20px;
    justify-content: space-between;
  }
}
.achievement__card {
  img {
    width: 100%;
  }
  p {
    color: var(--color-paragraph);
    font-size: 0.9rem;
  }
}

@media (max-width: 767px) {
  .game__details {
    flex-direction: column-reverse;
    gap: 40px;
    article {
      width: 100%;
    }
    aside {
      position: static;
      z-index: 0;
    }
  }
}
@media (max-width: 450px) {
  .achievements__container {
    > div {
      place-content: center;
    }
  }
  .game__extras {
    flex-direction: column;
    gap: 20px;
  }
}
