.list_of_games_vertical {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;
}
.vertical_list {
  display: grid;
  row-gap: 10px;
}
.vertical_list--double {
  grid-template-columns: 1fr 1fr;
  grid-column: span 2;
}
.list_title {
  display: flex;
  gap: 8px;
  align-items: center;
  h2 {
    font-weight: 500;
    font-size: 1.2rem;
    &:hover {
      a {
        padding-right: 5px;
      }
    }
  }
  a {
    color: white;
    text-decoration: none;
    transition: all 0.3s all ease-in-out;
  }
}
.list_title--double {
  grid-column: span 2;
}

@media (max-width: 767px) {
  .list_of_games_vertical {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
  }
  .vertical_list {
    grid-column: span 2;
    row-gap: 12px;
    order: 2;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    .card_hero {
      grid-column: auto;
    }
  }
  .vertical_list--double {
    order: 4;
  }
  .list_title {
    grid-column: span 2;
    order: 1;
  }
  .list_title--double {
    order: 3;
  }
  .card_hero--small {
    grid-column: span 1;
  }
}