.browse {
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.main {
  position: relative;
  display: grid;
  grid-template-columns: 80% 1fr;
  gap: 20px;
}

@media (max-width: 767px) {
  .browse {
    gap: 70px;
  }
  .main {
    grid-template-columns: 1fr;
  }
}