.container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    h3 {
      font-weight: 400;
      span {
        color: var(--color-paragraph);
      }
    }
  }
}
.achievements__hero {
  border-radius: 10px;
  background-color: #303030;
  overflow: hidden;
  img {
    width: 100%;
  }
  p {
    padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;

      span:first-child {
        font-size: 0.6rem;
        text-transform: uppercase;
        color: var(--color-paragraph);
        font-weight: 600;
      }
      span:last-child {
        font-size: large;
      }
    }
}

.achievements__container {
  display: flex;
  flex-direction: column;

}
.achievement__card {
  display: flex;
  padding: 15px 0;
  gap: 30px;
  border-bottom: 1px solid var(--color-paragraph);

  img {
    width: 100%;
    max-width: 100px;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h4 {
      font-weight: 400;
    }
    p {
    color: var(--color-paragraph);
    font-size: 0.9rem;
  }
  }
}

@media (max-width: 450px) { 
.achievement__card {
  flex-direction: column;
  align-items: center;
  text-align: center;
}
}