a.card {
  cursor: pointer;
  /* position: relative;
  overflow: hidden; */
  padding: 20px 20px 15px 20px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
  background-color: #232323;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */

  img {
    border-radius: 5px;
    object-fit: cover;
    aspect-ratio: 16/9;
    width: 100%;
  }

  h5 {
    font-weight: 400;
    font-size: large;
  }
  

  &:hover {
    background-color: #444444;
  }
}

/* .card_active {
    &:hover {
        background-color: inherit;
    }
    &:hover::before {
        animation-play-state: paused;
        
    }
}
.card_active::before {
    position: absolute;
    top: 0;
    z-index: -1;
    left: -110%;
    bottom: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #7a7a7a;
    animation: background-fill forwards 7s ease-out;
} */

/* @keyframes background-fill {
    from {

    }
    to {
        left: 0;
        border-radius: 0 12px 12px 0;
    }
    
}

@media (max-width: 767px) {
  .card {
    grid-column: span 2;
  }
  .card--small {
    grid-column: span 1;
  }
} */
