a.card {
  cursor: pointer;
  padding: 20px 20px 15px 20px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
  background-color: var(--background-secondary);
  border-radius: 5px;
  text-decoration: none;
  color: white;

  img {
    border-radius: 5px;
    object-fit: cover;
    aspect-ratio: 16/9;
    width: 100%;
  }

  h5 {
    font-weight: 400;
    font-size: large;
  }
  

  &:hover {
    background-color: #444444;
  }
}
