.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;

  h1 {
    font-size: x-large;
    font-weight: 400;
  }

  nav {
    position: sticky;
    top: 60px;
    z-index: 10;
    background-color: #141414;
    padding: 10px 0 10px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style-type: none;
    a {
      cursor: pointer;
      color: var(--color-paragraph);
      font-size: large;
      font-weight: 500;
      padding-bottom: 4px;
      transition: border-color 0.2s ease-in-out;
      border-bottom: 2px solid transparent;
      font-style: none;
      color: white;
      text-decoration: none;
      &:hover {
        border-bottom: 2px solid var(--color-paragraph);
      }
      &.active {
        color: white;
        border-bottom: 2px solid white;
      }
    }
  }
}

@media (max-width: 450px) {
  .container {
    h1 {
      text-align: center;
    }
    ul {
      justify-content: center;
    }
  }
}
