.card {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  padding: 5px 10px;
  column-gap: 10px;
  align-items: center;
  border-radius: 15px;
  transition: background-color 0.3s;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  img {
    border-radius: 10px;
    object-fit: cover;
    aspect-ratio: 9/12;
    width: 100%;
  }

  div {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  h3 {
    grid-column: span 3;
    font-weight: 500;
    font-size: small;
  }
  span {
    font-size: smaller;
    font-weight: 500;
    margin-top: auto;
    align-self: end;
  }

  &:hover {
    background-color: #444444;
  }
}

.card_active {
    &:hover {
        background-color: inherit;
    }
    &:hover::before {
        animation-play-state: paused;
        
    }
}
.card_active::before {
    position: absolute;
    top: 0;
    z-index: -1;
    left: -110%;
    bottom: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #7a7a7a;
    animation: background-fill forwards 7s ease-out;
}

@keyframes background-fill {
    from {

    }
    to {
        left: 0;
        border-radius: 0 12px 12px 0;
    }
    
}

@media (max-width: 767px) {
  .card {
    grid-column: span 2;
  }
  .card--small {
    grid-column: span 1;
  }
}
