.filters {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h4 {
    font-weight: 400;
    padding: 10px;
    border-radius: 5px;
    
  }

  ul {
    list-style-type: none;
    text-decoration: none;
  }
}
li.active {
  color: white;
}

.filter__clear {
  position: relative;
  button {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.322);

      & + .filters__applied {
        display: block;
      }
    }
  }
}

.filters__applied {
  display: none;
  position: absolute;
  font-weight: 600;
  background-color: inherit;
  padding: 20px 0;
  backdrop-filter: blur(5px);
  width: 100%;
  li {
    font-weight: 400;
    margin-left: 20px;
  }
  ul {
    list-style: disc;
  }
}

@media (max-width: 767px) {
  .filters {
    position: absolute;
    bottom: calc(100% + 5px);
    right: 0;

    h4 {
      cursor: pointer;
      &:hover {
      background-color: rgba(255, 255, 255, 0.3);
      }
    }

    &.open {
      

      .filters__body {
        display: block;
      }
    }
  }

  .filters__body {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);
    position: absolute;
    display: none;
    right: 0;
    top: 100%;
    width: 300%;

    ul {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
    }
  }
}
@media (max-width: 450px) {
 .filters {
  .filters__body {
    width: 133%;
  }
 } 
}
