

.container {
  position: relative;
  flex: 1;
  display: flex;
}
.container__background {
  opacity: 0.5;
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: "";
  width: auto;
  height: auto;
  background-image: url("/assets/WelcomeImage.jpg");
  background-position: center;
  background-size: cover;
}
.container__background--darker {
  opacity: 0.2;
}
.container__background--dark {
  background-color: #141414;
  background-image: none;
}
.container__body {
  position: relative;
  max-width: 1280px;
  flex: 1;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 1.5rem;
}


.container__header {
  text-align: center;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.container__nav {
  display: flex;
  gap: 1rem;
  justify-content: center;
  list-style: none;
}

.container__main {
  border: 2px solid red;
  flex: 1;
}