/* .button {
  background-color: white;
  color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 1rem 0;
  width: clamp(100px, 150px, 100%);
  border-radius: 5px;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.7rem;
  letter-spacing: 2px;
}
.button.button--white {
  color: #141414;
  background-color: white;
}
.button.button--transparent {
  color: white;
  background-color: transparent;
} */

.button_circular {
  padding: 8px;
  border-radius: 50%;
  border: none;
  background-color: #303030;
  font-size: 12px;
  width: 35px;
  height: 35px;
}
.disabled {
  pointer-events: none;
  color: #9e9e9e;
  opacity: 0.7;
}
.center_icon {
  display: grid;
  font-size: 12px;
  padding-top: 5px;
}

.card_container {
  display: grid;
  grid-template-columns: repeat(6, minmax(180px, 1fr));
  column-gap: 20px;
  grid-auto-flow: column;
  grid-auto-columns: minmax(180px, 1fr);
  overflow-x: scroll;
  scroll-behavior: smooth;

  
  &::-webkit-scrollbar {
    display: none;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    img {
      min-width: 100%;
      aspect-ratio: 9/13;
      object-fit: cover;
      border-radius: 10px;
    }
    h3 {
      font-size: 1rem;
      font-weight: 600;
    }
    span {
      font-weight: 600;
    }
    p {
      color: #9e9e9e;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}
.card_container--three {
  grid-template-columns: repeat(3, 1fr);
  row-gap: 35px;
  grid-auto-flow: row;
  /* grid-auto-columns: minmax(180px, 1fr); */

  div {
    img {
      aspect-ratio: 16 / 9;
    }
  }
}

@media (max-width: 767px) {
  .card_container {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-auto-columns: minmax(100px, 1fr);
    row-gap: 20px;
  }
  .card_container--three {
    grid-template-columns: repeat(2, 1fr);

    div {
      img {
        aspect-ratio: 16 / 9;
      }
    }
  }
  /* .card_hero {
    grid-column: span 2;
  } */
}
