.toast__checkout {
  p {
    font-weight: bold;
    margin-bottom: 20px;
  }
  .footer {
    padding: 10px 0;
    display: flex;
    gap: 10px;
    row-gap: 10px;
    justify-content: space-between;
  }
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
  
  > main {
    flex: 1;
    display: flex;
    gap: 30px;

    /* Card container */
    > section {
      display: flex;
      flex-direction: column;
      gap: 30px;
      width: 100%;
    }
    
  }
  h2 {
    font-size: 2rem;
    font-weight: 400;
    span {
      color: var(--color-paragraph);
    }
  }


  aside {
      flex-shrink: 0;
      min-width: 200px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      p {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        span:nth-child(2) {
          font-weight: bold;
        }
      }
      h3 {
        font-weight: normal;
        font-size: 2rem;
      }
    }
}


@media (max-width: 767px) {
  .container {
    > main {
      flex-direction: column-reverse;
    }

    aside {
      flex-shrink: 1;
      min-width: auto;
    }
  }
}
